main {
  margin-top: 64px;
  padding: 10vh 10vw;
  position: relative;
}

main > div > div > div:nth-child(2) {
  padding: 20px;
}

canvas {
  border: 1px solid black;
  cursor: crosshair;
}

#color-picker-button {
  position: relative;
}

.color-picker {
  position: absolute;
  top: 0;
  left: 0;
}

#drag-bar {
  display: flex;
  flex-direction: column;
  padding: 10px 0;
  justify-items: center;
  align-items: flex-start;
  background-color: white;
  border-radius: 5px 5px 0 0;
  max-width: 220px;
  border: 1px solid grey;
}

#tool-container {
  max-height: 200px;
}